REPOSITORY__APPLICATION_BASE_URL=

REPOSITORY__ROOT_DATABASE_USER_PASSWORD=

REPOSITORY__LOCAL_DATABASE_NAME=
REPOSITORY__LOCAL_DATABASE_USER_NAME=
REPOSITORY__LOCAL_DATABASE_USER_PASSWORD=

REPOSITORY__SMTP_SERVER_SENDER_NAME=
REPOSITORY__SMTP_SERVER_SENDER_EMAIL=
REPOSITORY__SMTP_SERVER_HOST=
REPOSITORY__SMTP_SERVER_PORT=
REPOSITORY__SMTP_SERVER_USER_NAME=
REPOSITORY__SMTP_SERVER_USER_PASSWORD=
